# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Python
**/__pycache__/
**/*.pyc

# Virtual environments
backend/venv/

# Environment files
backend/.env
**/venv/
frontend/.env

# Database
*.db

# RSA keys
backend/keys/*.pem
!backend/keys/.gitkeep

# Uploads
backend/uploads/profile_pictures/

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
